function Game.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 5
push this 5
call Instructions.make_screen 1
pop temp 0
push constant 170
push constant 128
call Bludger.new 2
pop this 0
push constant 342
push constant 128
call Bludger.new 2
pop this 1
push this 1
call Bludger.set_down_false 1
pop temp 0
push constant 256
push constant 128
call Snitch.new 2
pop this 2
push constant 30
push constant 128
call Seeker.new 2
pop this 3
push constant 0
pop this 4
push pointer 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
not
pop local 1
label WHILE_EXP0
push local 1
not
if-goto WHILE_END0
push constant 1
call Sys.wait 1
pop temp 0
push this 0
call Bludger.move 1
pop temp 0
push constant 1
call Sys.wait 1
pop temp 0
push this 1
call Bludger.move 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
call Seeker.moveUp 1
pop temp 0
label IF_FALSE0
push local 0
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
call Seeker.moveDown 1
pop temp 0
label IF_FALSE1
push local 0
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
call Seeker.moveLeft 1
pop temp 0
label IF_FALSE2
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
call Seeker.moveRight 1
pop temp 0
label IF_FALSE3
push constant 1
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
